<footer>
    &copy; 2016 | Assignment Two - Kayla Wiest
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/jquery.validate.min.js"></script>
<script src="/javascripts/scripts.js"></script>

</body>
</html>