<!DOCTPE HTML>
<html>
<head>
    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/masterStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- css -->
</head>
<body>

    <nav class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/orders">Orders</a></li>

            <% if (!user) { %>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <% }else{%>
            <li><a href="/logout">Logout</a></li>
            <% } %>
        </ul>
    </nav>

    <div class="container">