<% include partials/header.ejs %>

    <h1><%= title %></h1>

<!-- Gallery panel of 5 images -->
<div id="gallery">
    <img src="/images/1.jpg" />
    <img src="/images/4.jpg" />
    <img src="/images/3.jpg" />
    <img src="/images/2.jpg" />
    <img src="/images/5.jpg" />
</div>

<% include partials/footer.ejs%>