<% include partials/header.ejs %>

<main class="container">
    <h1><%= title %></h1>

    <%if (messages.length > 0){ %>
    <div><%= messages %></div>

    <% }%>

    <form method="post">
        <div class="input">
            <label for="username" class="col-sm-2 control-label">Username: *</label>
            <input name="username" id="username" required />
        </div>
        <div class="input">
            <label for="password" class="col-sm-2 control-label">Password: *</label>
            <input name="password" id="password" type="password" required />
        </div>

        <div class="submit">
            <button id="login">Login</button>
            <button type="reset" onclick="location.href='/facebook'" id="facebook">Login with Facebook</button>
        </div>
        <hr />
        Need access?  <a href="/register" title="Register">Register</a>
    </form>

</main>

<% include partials/footer.ejs %>