@font-face {
  font-family: HaloHandletter;
  src: url(../fonts/HaloHandletter.otf);
}

html, body {
  margin: 0 auto;
  height: 100%;
}

/* H Tags */
h1 {
  font-family: HaloHandletter;
  font-size: 150px;
  text-align: center;
}

/* Menu */
.menu{
  margin: auto;
  background-color: #FF0061;
  color: #fff;
  height: 3em;
}

.menu li{
  display: inline-block;
  margin-top: 1em;
  margin-left: 5px;
  margin-right: 5px;

}

/* Links */
a, a:link, a:visited, a:active, a:hover {
  text-decoration: none;
  color: #FF0061;
}

.menu a, .menu a:link, .menu a:visited, .menu a:active, .menu a:hover {
  text-decoration: none;
  color: #FFF;
}

/* Form */
input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button{
  width: 100%;
  background-color: #FF0061;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#login{
  width:49.8%;
}

#facebook {
  -webkit-appearance: button;
  width: 49.8%;
  background-color: #3b5998;

}

.input{
  background-color: #f2f2f2;
  padding: 10px;
}

.submit{
  text-align: center;
}

/* Table */
.container {
  padding: 0 50px;
  min-height: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #FF0061;
  color: white;
}

/* Search Bar */

#searchBar input{
  width: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #FF0061;
  background-image: url('../images/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 0px 12px 40px;
  transition: width 0.4s ease-in-out;
}

#searchBar input:focus{
  width: 100%;
}


/* Footer */
footer {
  bottom:0;
  position: relative;
  text-align: left;
  width: 100%;
  padding-bottom: 20px;
  height: .5em;
  background-color: #333333;
  color: #FFF;
}